.input{
	padding: 10px;
	font-size: 18px;
	padding-left: 15px;
	padding-right: 15px;
	color: #fff;
	border-radius: 40px;
	background: linear-gradient(90deg,#76062C,#7500DB);
	border: black 2px;
}
body{
	background: linear-gradient(90deg,#376AA9,#F5C8E7);
}
.div1{
	display: flex;
	justify-content: center;
}